@model ProductListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="container">
        <div class=" row">
            <div class="col-md-2">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
            <div class="col-md-10">
                @foreach (var k in Model.Products)
                {
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="@k.Image" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@k.Name</h5>
                                    <p class="card-text">@k.Description</p>
                                    <p class="card-text">@k.Price</p>
                                    <button class="btn btn-success">Add to Car</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
</div>
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary" class="btn-group pull-right m-1"> </div>


